@{
    ViewBag.Title = "Employee Add/Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <h3 class="page-title">
        Employee <small>Add / Update</small>
    </h3>
    <div>
        This is Employee Add/ Update view.
    </div>
</div>
