@model dynamic

@{
    ViewBag.Title = "Delete Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <h3 class="page-title">
        Employee <small>Delete</small>
    </h3>
    <div>
        This is Employee Delete view.
    </div>
</div>
